@media screen and (max-width: 600px) {
  /* nav */
  #nav {
    display: none;
  }
  /* slider */
  #slider h1:nth-child(2) {
    display: none;
  }
  #content {
    flex-direction: column;
  }
  #content #blogs,
  #content #info-menu {
    width: 90%;
    margin: 0 auto;
  }
}
